<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div class="wrapper" style="max-width:1000px; margin:0 auto;">
        <h1 style="text-align:center;">PRIVACY POLICY</h1>
        <h2 style="font-size:16px;">‘Alerter’ IS OWNED AND OPERATED BY SUMEET SHRI RAISINGHANI. BY USING THE WEBSITE/APPLICATION, YOU AGREE TO THE TERMS AND CONDITIONS OF THIS POLICY. IF YOU DO NOT AGREE WITH THE TERMS AND CONDITIONS OF THIS POLICY, PLEASE DO NOT PROCEED FURTHER TO USE THIS WEBSITE/APPLICATION.</h2>
        <p>
            We are committed to protecting and respecting your privacy. This policy (together with our website and mobile application terms and conditions that apply to your use of our website) sets in place the fundamentals based on which any personal data we collect from you or that you provide us, will be processed. Please read the following points carefully to understand our views and practices regarding your personal data and how we will treat it.
        </p>
        <p>
            If we change our privacy policy then we will post the changes on this page with immediate effect, and may place notices on other pages of the website. This will help you become aware of the information we collect and how we use it at all times. Continued use of the website will pertain to your agreement to any such changes. If you have any doubts regarding this policy, or on how we use and process your personal information, please contact us by sending us an e-mail at <a href="mailto:alertthegroper@gmail.com">alertthegroper@gmail.com</a>
        </p>
        <h3>INFORMATION WE MAY COLLECT FROM YOU</h3>
        <ul>
            <li>	We may collect either your contact information, location information, analytics information or all of them.</li>
            <li>	We may also store a record of your correspondence when you contact us.</li>
            <li>	We may ask your information purely for surveys that we use for research purposes, although you may choose not to participate in such surveys.</li>
        </ul>
        <h3>IP ADDRESSES AND COOKIES</h3>
        <ul>
            <li>	Web logs of your visits to our website includes, but not limited to, traffic data, location data and other communication data and the resources that you access.</li>
            <li>    We may collect information about your computer, including IP address, operating system and browser type, for system administration and to report aggregate information to our business users. This would be a statistical data about our users' browsing actions and patterns.</li>
            <li>	We may also obtain information about your usage of the website by using a cookie file which is stored on your computer’s hard drive.</li>
            <li>	Cookies contain information that is transferred to your computer's hard drive. These cookies help us to improve our website and to deliver a better and more personalized service. These cookies enable us to store information about your preferences and personalize our website according to your individual interests, speed up your searches and recognize you when you return to our website.</li>
            <li>	We allow advertisers and other third parties to place cookies onto your computer when you visit their website.</li>
            <li>	The cookies placed by advertisers and other third parties are used to keep track of the web searches you make while visiting their website, as well as your web surfing behavior on this website and other websites you may visit. This information is used to show you advertisements tailored to your interests on this and other websites, and/or to keep track of your response to each ad.</li>
        </ul>
        <h3>DIRECT MAILING</h3>
        <p>Once you sign in throughout the application or via our User Registration page, by providing your email address you agree to receive regular newsletter/promotion emails from Alerter.</p>
        <h3>WHAT HAPPENS IF YOU REGISTER OR SIGN-UP WITH ‘ALERTER’?</h3>
        <ul>
            <li>    We will be sending you information about our new features, or other services that we feel may interest you through mails.</li>
            <li>	We may also send you information about other websites that we feel are relevant to you based on your preferences.</li>
            <li>	To unsubscribe from offer emails, click on the unsubscribe link in the footer of the email or get in touch with us at <a href="mailto:alertthegroper@gmail.com">alertthegroper@gmail.com</a> or contact at <a href="callto:9818593939">9818593939</a>.</li>
            <li></li>
        </ul>
        <h3>STORING YOUR PERSONAL DATA</h3>
        <ul>
            <li>	All the information you provide us is stored on our secured servers. However, the password you create for your account should be confidential and you should not share your password with anyone.</li>
            <li>	To ensure complete security, we suggest you use integrated domains such as Gmail and Facebook. Once we receive your information, we will use strict procedures and security features to try preventing unauthorized access.</li>
        </ul>
        <h3>UPDATING/REMOVING PERSONAL INFORMATION</h3>
        <ul>
            <li>	If any required amendments to your personal data is required then it is your responsibility to advise us.</li>
            <li>	If you no longer desire our service, please let us know and we shall correct, update or remove your personal data provided to us.</li>
            <li>	We may retain any archive copy of any information you provide to us for records and for audit purposes.</li>
        </ul>
        <h3>USE OF THE PERSONAL INFORMATION</h3>
        <p>We use information about you in the following ways:</p>
        <ul>
            <li>	To enable you with our services which you have requested/availed from us or which we feel may interest you, considering your consent to be contacted for such purposes.</li>
            <li>	To ensure that content from our application is presented in the most effective manner for you and for your mobile.</li>
            <li>	To enable you to participate in interactive features of our services, when you choose to do so.</li>
            <li>	To notify you about changes to our service.</li>
            <li>	To carry out our obligations arising from any contracts entered into - between you and Alerter.</li>
        </ul>

        <h4 style="color:blue; font-size:16px;">[NOTE: We do not disclose any information about identifiable individuals to our affiliate advertisers, but we may provide them with aggregate information about our users.]</h4>
        <p style="text-align:right; margin:0px; padding:0px;">Sumeet Shri Raisinghani</p>
        <p style="text-align:right; margin:0px; padding:0px;">91-9818593939</p>

    </div>

</body>
</html>